extends layout.pug

block content
  h1.mt-5= title
  form(method="POST")
    .form-group
      label(for='title') Event Title
      input#title.form-control(type='text', placeholder='Enter title of event', name="title", value=event.title)
    .form-group
      label(for='description')  Event Description
      input#description.form-control(type='text', placeholder='Enter note', name="description", value=event.description)
    .form-group
      label(for='location') Event Location
      input#location.form-control(type='text', placeholder='Enter location of event', name="location", value=event.location)

    button.btn.btn-primary(type='submit') Submit
