extends layout.pug

block content

  h1(style="text-align: center").mt-5=currentMonthYear
        a(style="margin-right: 1em; margin-left:1em; float: left").btn.btn-primary(href='/prevMonth'  ) < Previous Month
        a(style="float: right").btn.btn-primary(href='/nextMonth' )  > Next Month
  table.table
    thead(style="text-align: center")
      tr
        th(scope='col') Sunday
        th(scope='col') Monday
        th(scope='col') Tuesday
        th(scope='col') Wednesday
        th(scope='col') Thursday
        th(scope='col') Friday
        th(scope='col') Saturday

    tbody
     each item in calArray
        tr
         each it in item
            td= it
                if(it)
                    a(style="background-color: green; padding: 0.5em;").btn.btn-primary(href='/calEvent/' + it + '/getting' ) View Day
                    a.btn.btn-primary(href='/weeklyEvent/' + it) View Week
