body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #FAF7F7;
}

a {
  color: #0000FF;
}

ul {
    margin: 0;   
    padding: 0;
}

ul li {
    list-style-type: none;
}

.currentMonth {
    font-size:16px;
    color: darkblue;
}

.calendar {
	overflow:hidden;
}
.calendar.monthView > div {
    float:left;
    height: 80px;
    width: 14.28%;
    border: 1px solid #0000FF;
    background-color: white;
        overflow: scroll;

}

.calendar.monthView div.prevNextMonth {
	opacity: 0.4;
}

.calendar.monthView .currentMonth{
	cursor: pointer;
    cursor: hand;
}

.calendar.monthView > div .day {
	color: #0000FF;
	display: inline-block;
	vertical-align: top;
	padding: 5px 10px;
	border-right: 1px solid #add8e6;
	border-bottom: 1px solid #add8e6;
	background-color: #add8e6;
    overflow: scroll;
}

.calendar.monthView > div ul {
	display : inline-block;
	margin-left: 5px;
	width: calc(100% - 45px);
}

.calendar.monthView > div ul li {
	border: 1px solid #FFE0E5;
	margin-bottom: 1px;
	padding: 2px;
	background-color: #add8e6;
    overflow: scroll;

}


.dayName {
	color: #0000FF;
	display: inline-block;
	vertical-align: top;
	padding: 20px 60px;
	border-right: 1px solid #add8e6;
	border-bottom: 1px solid #add8e6;
	background-color: #add8e6;
}